
DOMAIN_NAME=<intra>.42.fr

PROJECT_NAME=<project_name>

# Containers
DB_CONTAINER_NAME=<project_name>-mariadb
WP_CONTAINER_NAME=<project_name>-wordpress
NGINX_CONTAINER_NAME=<project_name>-nginx
REDIS_CONTAINER_NAME=<project_name>-redis
FTP_CONTAINER_NAME=<project_name>-ftp

# Wordpress
WORDPRESS_DB_HOST=<project_name>-mariadb:3306
WORDPRESS_DB_NAME=<project_name>-wordpress
WORDPRESS_DB_USER=<db_user>
WORDPRESS_DB_PASSWORD=<db_password>
WORDPRESS_URL=<project_name>.42.fr
WORDPRESS_TITLE=<project_name>
WORDPRESS_ADMIN_USER=<admin_user>
WORDPRESS_ADMIN_PASSWORD=<admin_password>
WORDPRESS_ADMIN_EMAIL=<admin_email>
MYSQL_ROOT_PASSWORD=<root_password>

# Redis
REDIS_HOST=<redis_host>
REDIS_PORT=6379

# FTP
FTP_USER=<ftp_user>
FTP_PASSWORD=<ftp_password>
